* {
  font-family: 'Montserrat', sans-serif;
}

#UsersList {
  h2 {
    text-align: center;
  }
  .user-list {
    overflow-y: auto;
    max-height: 50vh;
  }
  .controls {
    input {
      font-size: 1.5em;
      border-radius: 4px;
      width: 100%;
    }
    .pager {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .arrow {
        font-size: 2em;
      }
    }

  }
  width: 100%;
  .user {
    display: inline-block;
    width: 80%;
    border-radius: 5px;
    word-break: break-word;
  }
  .status {
    display: inline-block;
    cursor: pointer;
    text-align: right;
    width: 20%;
  }
}